<h1>Listing next_lectures</h1>

<table>
  <tr>
    <th>Lecture</th>
    <th>Next</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @next_lectures.each do |next_lecture| %>
  <tr>
    <td><%= next_lecture.lecture_id %></td>
    <td><%= next_lecture.next_id %></td>
    <td><%= link_to 'Show', next_lecture %></td>
    <td><%= link_to 'Edit', edit_next_lecture_path(next_lecture) %></td>
    <td><%= link_to 'Destroy', next_lecture, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Next lecture', new_next_lecture_path %>
