<p class="fields" >
	<%= f.label :title, "Lecture Title" %>
	<%= f.text_field :title %></br>
	<%= f.label :video_clip_link, "Video Link" %>
	<%= f.text_field :video_clip_link %></br>
	
	<%= f.label :video_script_link, "Script Link" %>
	<%= f.text_field :video_script_link %></br>
	
	<%= f.hidden_field :_destroy %>
	<%= link_to_function "remove" , "remove_fields(this)" %>
	<p>

	<p><!-- %= link_to_add_fields "Add Videoclip" ,  f, :videoclips % --></p>
	</p>
</p>