<script>
function takeCourseDialog()
{
	var r=confirm("강의를 수강하시겠습니까");

	if (r==true)
  	{
 		window.location = '<%= assign_url( :id => course.id ) %>';
  	}
}

</script>

<div class="container-summary">
		<section class="summary-course">
			<h1><%= course.name %></h1>
			<div class="movie" >
				<object classid='clsid:D27CDB6E-AE6D-11cf-96B8-444553540000' width='500' height='300' id='player1' name='player1'>
				   <param name='movie' value="<%= escape_javascript( asset_path('jwplayer/player.swf')) %>">
				   <param name='allowfullscreen' value='true'>
				   <param name='allowscriptaccess' value='never'>
				   <param name='flashvars' value="type=rtmp&streamer=<%= course.intro_video_link %>">
				   <embed id='player1'
				          name='player1'
				          src="<%= escape_javascript( asset_path('jwplayer/player.swf')) %>"
				          width='500'
				          height='300'
				          allowscriptaccess='never'
				          allowfullscreen='true'
				          flashvars='type=rtmp&streamer=<%= course.intro_video_link %>'   />
				</object>
				</div>
			<p><%= course.subtitle %></p>
			<%= link_to "강의 수강하기", assign_url( :id => course.id ), :class => "transition btn-start" %>
			<!-- a href="#" class="transition btn-start">강의 수강하기</a -->
			<dl class="status-course">
				<dt>강의평점</dt>
				<dd><span class="star"><em class="point04"><span>3/5</span></em></span></dd>

				<dt>수강생 수</dt>
				<dd>
					<em><%= course.users.size %>명</em>이 수강중입니다.
					<!-- div class="list-user" display="none" >
						<a href="#"><%= image_tag("main/@temp03.png") %></a>
						<a href="#"><%= image_tag("main/@temp03.png") %></a>
						<a href="#"><%= image_tag("main/@temp03.png") %></a>
						<a href="#"><%= image_tag("main/@temp03.png") %></a>
						<a href="#"><%= image_tag("main/@temp03.png") %></a>
						<p>xxx님 외 친구 xxx명이 수강했습니다.</p>
						<span class="arrow"></span>
					</div -->
				</dd>
			</dl>
		</section>
	</div>

	<div class="container-course-info">
		<section class="course-info">
			<h1 Class="info">강의정보</h1>
			
			<section class="lecturer">
				<h1 class="subtitle">강사소개</h1>
				<dl>
					<dt>
						<%= image_tag("@temp02.png") %>
						<strong><%= course.authour.fullname %></strong>
					</dt>
					<dd>
						<p>
							<%= course.authour.subtitle %><br />
							<br />
							<%= course.authour.introduction %><br />
						</p>

					</dd>
				</dl>
			</section>

			<section class="summary">
				<h1 class="subtitle">강의개요</h1>
				<p>
					<span>by</span> <strong><%= course.authour.fullname %></strong><br />
					<%= course.description %>
					
				<!--	<a href="#" class="more">더 보기</a>  -->
				</p>
			</section>
			

			<section class="lectures">
				
				<h1 class="subtitle">강의교안</h1>
		<!--		<span class="duration">전체 50강 120시간 30분 강의</span>  -->
				<ol class="list-section">
					<% course.chapters.each do |chapter| %>
					<li>
						<a class="section-title"><%= chapter.title %></a>
						<ol class="list-lecture">
							<% chapter.lectures.each do |lecture| %>
							<li>
								<a class="lecture" onclick='takeCourseDialog()'>
									<span class="free">free</span>
									<!--23:57 -->
								</a>
								<a class="lecture_title" onclick='takeCourseDialog()'> <%= truncate(lecture.title, length:18) %></a>
							</li>
							<% end %>
						</ol>
						<div class="clear"></div>
					</li>
					<% end %>
					<li>
			<!--			<a href="#" class="more">더 보기</a>  -->
					</li>
				</ol>
				
			</section>
			

			<section class="review">
				<h1 class="subtitle">강의리뷰</h1>
				<ul class="list-review">
					<li>
						<%= image_tag("main/@temp02.png") %>
						<span>by</span> <a href="#">바오밥 클래스</a>, 1 day ago
						<span class="star"><em class="point04"><span>5/5</span></em></span>
						<p>
							<b>준비중입니다.</b><br />
							강의 리뷰기능은 준비중입니다. 강의와 관련한 문의사항은 우측의 feedback버튼을 이용해주세요
						</p>
					</li>
				<!--	<li class="more"><a href="#" class="more">더 보기</a></li>  -->
				</ul>
				
			</section>
			
			<div class="clear"></div>
		</section>
	</div>


