<p class="fields" >
<%= f.label :title, "Title" %>
<%= f.text_field :title %>
<%= f.hidden_field :_destroy %>
<%= link_to_function "remove" , "remove_fields(this)" %>
<%= :title %>
<% if false %>

<object classid='clsid:D27CDB6E-AE6D-11cf-96B8-444553540000' width='640' height='480' id='player1' name='player1'>
   <param name='movie' value='player.swf'>
   <param name='allowfullscreen' value='true'>
   <param name='allowscriptaccess' value='always'>
   <param name='flashvars' value='autostart=true&type=rtmp&streamer=rtmp%3A//jb1587vol00-jb1587.ktics.co.kr/jb1587vol00/_definst_&file=test.mp4'>
   <embed id='player1'
          name='player1'
          src='player.swf'
          width='640'
          height='480'
          allowscriptaccess='always'
          allowfullscreen='true'
          flashvars='autostart=true&type=rtmp&streamer=rtmp%3A//jb1587vol00-jb1587.ktics.co.kr/jb1587vol00/_definst_&file=test.mp4'   />
</object>
<% end %>
</p>