<p class="fields" >
<%= f.label :subtitle_file_link, "substitle file link" %>
<%= f.text_field :subtitle_file_link %>
<%= f.label :link, "video file link" %>
<%= f.text_field :link %>
<%= f.hidden_field :_destroy %>
<%= link_to_function "remove" , "remove_fields(this)" %>
</p>