<div class="container-contents02">
<section class="search-course">
	<h1 Class="search">강의탐색</h1>
	
	<ul class="search-filter">
		<li class="start"><a href="#" onclick="comingSoondMsg()">추천 강의</a></li><li>
		<a href="#" onclick="comingSoondMsg()">인기순</a></li><li>
		<a href="#" onclick="comingSoondMsg()">평점순</a></li><li>
			
		<a href="#" class="category" onclick="toggleCategoryList()" >카테고리</a>
			<ul class="list-category">
				<% @categories.each do |category| %>
					<li><%= link_to category.name,  courses_path(:selected_category => category.id )  %></li>
				<% end %>	
			</ul>
		</li><li>
			<fieldset class="search-course-fieldset">
				<legend>검색</legend>
				<p>
					<input type="text" onclick="comingSoondMsg()" />
					<a href="#" class="btn-search" onclick="comingSoondMsg()">검색</a>
				</p>
			</fieldset>
		</li>
	</ul>
	<div class="clear"></div>
	
	<ul class="result-course">
			<% @courses.each do |course| %>
		<li>
			<article class="lecture-summary">
				<header style="background: url('<%= course.snapshot %>') 5px 5px no-repeat;" onclick="window.location='<%=course_url(:id => course.id) %>'">
					<h1><%= link_to course.name, course  %></h1>
					<span class="new">new</span>
				</header>
				<dl>
					<dt>
						<%= link_to image_tag("@temp01.png"), course %>
						<strong><%= course.authour.fullname %></strong>
						<span><%= course.authour.subtitle %></span>
					</dt>
					<dd>
						<p>
							<%= truncate(course.description, length: 135 ) %>
						</p>
					</dd>
				</dl>
				<footer>
					<span class="price"><!--<%= course.price %>$ -->free</span>
					<span class="students"><%= course.users.size %></span>
					<span class="star"><em class="point04"><span>3/5</span></em></span>
					<div class="clear"></div>
				</footer>
			</article>
		</li>
		<% end %>
	</ul>
	<div class="clear"></div>
</section>
	
</div>
