<!DOCTYPE html>
<html>

<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=EUC-KR">
		<%= stylesheet_link_tag    "default", :media => "all" %>
		<%= stylesheet_link_tag    "class_list", :media => "all" %>
		<%= stylesheet_link_tag    "show_class", :media => "all" %>
		
		<%= javascript_include_tag "application" %>
		<%= csrf_meta_tags %>
		<%= stylesheet_link_tag    "tmp_index", :media => "all" %>
		<% if user_signed_in? %>
		
		<% else %>
		<style>
			header {
				height: 100px;
			}

			#logo {
				float: left;
				margin-top: 30px;
				margin-left: 50px;
				height: auto;
			}
		</style>
			
		<% end %>
		<%= yield :head %>
	</head>

	<body onload='autoResize()'>
		<header>
			
			<div id="logo">
				<%= link_to image_tag("logo1.png", :size => "240x30"), courses_path%>
			</div>
			<div id='login_form'>
			 <% if user_signed_in? %>
			
				<%= current_user.fullname %>
			    <%= link_to "Sign out", destroy_user_session_path, :method => :delete %>
		
			 <% else %>
			
				<div id='facebook_button'>
					Facebook Login
				</div>

				<%= form_for( User.new, :as => :user, :url => session_path(:user)) do |f| %>
				  <%= f.label "login_id" %>
				  <%= f.email_field :email, :id => "login_id" %>
				  <%= f.label :password %>
				  <%= f.password_field :password, :id => "login_pw" %>
				  <%= f.submit "Sign in" %>
				<% end %>
			
			 <% end %>
			</div>
			<%= yield :header %>
		</header>

		 <% if user_signed_in? %>
		
		<div id="wrap">

			<p class="notice"><%= notice %></p>
	    	<p class="alert"><%= alert %></p>

			
			<article>

				<div id="tabs">
				<%= yield %>
				</div>
			</article>

		</div>
		
		<% else %>

	<%= form_for(User.new, :as => :user, :url => registration_path(:user)) do |f| %>
		
		<div id='main_page_wrapper'>
			<div id='sign_up_form'>
				<div class='page_title'>
					Sign up
				</div>
				<table id='sign_up_entry'>
					<tr>
						<td><label for='full_name'>Full Name</label></td>
						<td>
						<input type='text' id='full_name'/>
						</td>
					</tr>
					<tr>
						<td><%= f.label :email %></td>
						<td>
						<%= f.email_field :email %>
						</td>
					</tr>
					<tr>
						<td><%= f.label :password %></td>
						<td>
						<%= f.password_field :password %>
						</td>
					</tr>
					<tr>
						<td><%= f.label :password_confirmation %></td>
						<td>
						<%= f.password_field :password_confirmation %>
						</td>
					</tr>
					<tr>
						<td></td><td>
						<%= f.submit "Sign up" %>
						</td>
					</tr>
				</table>
			</div>
			<div id='main_image_wrap'>
				<div id='main_image'></div>
				<button>Discover Courses</button>
			</div>
		</div>
	<% end %>

		<% end %>
		<footer>
			<div id="footer_comment">
				@2012 Baobab.com
			</div>
		</footer>
	</body>
</html>
