<!DOCTYPE html>
<html>

<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<!-- %= stylesheet_link_tag    "default", :media => "all" % -->
		<!-- %= stylesheet_link_tag    "class_list", :media => "all" % -->
		<!-- %= stylesheet_link_tag    "show_class", :media => "all" % -->

		<%= stylesheet_link_tag    "baobabclass", :media => "all" %>
		<%= stylesheet_link_tag    "common", :media => "all" %>
		<%= stylesheet_link_tag    "main", :media => "all" %>

		<%= javascript_include_tag "application" %>
		<%= csrf_meta_tags %>
		<!-- %= stylesheet_link_tag    "tmp_index", :media => "all" % -->

		<%= yield :head %>
		<title>바오밥클래스</title>
	</head>

	<body >

		<!-- div id="logo">
		<%= link_to image_tag("logo1.png", :size => "240x30"), courses_path%>
		</div -->
		<% if user_signed_in? %>

		<script type="text/javascript">
			window.currentUser = {
		id : "<%= current_user.id%>"
	}
		</script>

		<header>
			<%= link_to "Baobab Class", mypages_path, :class => "baobab-class" %>
			<nav>
				<ul class="navigation">
					<li>
						<a href="#" class="user" onclick="toggleUserMenu()" > <span><%= image_tag("@temp01.png")%></span> <%= current_user.fullname %> </a>

						<ul class="user-menu">
							<li>
								<%= link_to "계정 관리" , edit_user_path(current_user) %>
							</li>
							<li>
								<%= link_to "내 강의 목록", mypages_path %>
							</li>
							<li>
								<%= link_to "강의 탐색" , courses_path %>
							</li>
							<% if current_user.role? :admin %>
							<li>
								<%= link_to "Administration" , admininterface_path %>
							</li>
							<% else %>
							<!-- li>
							<a href="#">Support</a>
							</li -->
							<% end %>
							<li class="logout">
								<%= link_to "Sign out", destroy_user_session_path, :method => :delete %>
							</li>
						</ul>
					</li>
					<li>
						<%= link_to "내 강의목록" , mypages_path %>
					</li>
					<li>
						<%= link_to "강의 탐색" , courses_path %>
					</li>
				</ul>
			</nav>

			<fieldset class="search-fieldset">
				<legend>
					검색
				</legend>
				<input type="text" />
				<a href="#" class="btn-search">검색</a>
			</fieldset>
		</header>

		<% else %>
		<header class="register" >
			<a href="#" class="baobab-class">Baobab Class - For Your Ever Learning Experience</a>

			<%= form_for( User.new, :as => :user, :url => session_path(:user)) do |f| %>
			<fieldset class="login">

				<legend>
					Login
				</legend>
				<!-- input type="text" placeholder="이메일" />
				<input type="password" placeholder="비밀번호" />
				<a href="#" class="transition btn-login">로그인</a -->
				<!--%= f.label "login_id" %-->
				<%= f.text_field :email, :placeholder => "이메일" %>
				<!--%= f.label :password %-->
				<%= f.password_field :password %>
				<%= f.submit "로그인  ", :class => "transition btn-login" %>
			</fieldset>
			<% end %>
		</header>

		<% end %>

		<%= yield :header %>

		<% if user_signed_in? %>
		<%= yield %>
		<% else %>
		
		<!-- check invitation -->
		<script>
		function checkInvitation()
		{
			var invitation = '<%= params[:input_key].to_s() %>';
			if(invitation != 'baobab_invitation')
			{
				$("section.register").css("height","380px");
				$("fieldset.signup-fieldset").hide();
				$("section.register h1").hide();
				$("#ready_msg").show();
			}
		}		
		$(checkInvitation);
		
		</script>
		<!----------------------->
		
		<!--------------------------- FACEBOOK API ------------------------->

		<div id="fb-root"></div>
		<script>
			var FB_clone;
			window.fbAsyncInit = function() {
				FB_clone = FB;
				FB.init({
					appId : '440634675983667', // App ID
					channelUrl : 'http://cdn.baobabclass.com/channel.php', // Channel File
					status : true, // check login status
					cookie : true, // enable cookies to allow the server to access the session
					xfbml : true  // parse XFBML
				});

				// Additional initialization code here
			};

			function fb_login() {
				FB_clone.login(function(response) {
					if(response.authResponse) {
						console.log('Welcome!  Fetching your information.... ');
						FB_clone.api('/me', function(response) {
							console.log('Good to see you, ' + response.name + '.');
						});
						

					} else {
						console.log('User cancelled login or did not fully authorize.');
					}
				}, {scope: 'email,user_birthday'});
			}

			function fb_logout() {
				FB_clone.logout(function(response) {

				});
			}

			function fb_info() {
				FB_clone.api('/me', function(response) {
					alert("name : " + response.name);
					alert("id : " + response.id);
					alert("gender : " + response.gender);
					alert("birthday : " + response.birthday);
					alert("email : " + response.email);
					alert(JSON.stringify(response));
				});
			}

			function fb_image() {
				FB_clone.api('/me', function(response) {
					$("#image_box").html("<img src='https://graph.facebook.com/" + response.id + "/picture'/>");
				});
			}

			// Load the SDK Asynchronously
			( function(d) {
					var js, id = 'facebook-jssdk', ref = d.getElementsByTagName('script')[0];
					if(d.getElementById(id)) {
						return;
					}
					js = d.createElement('script');
					js.id = id;
					js.async = true;
					js.src = "//connect.facebook.net/en_US/all.js";
					ref.parentNode.insertBefore(js, ref);
				}(document));

		</script>

		<!------------------ FACEBOOK API END ----------------------------------->

		<%= form_for(User.new, :as => :user, :url => registration_path(:user)) do |f| %>
		<div class="container-contents">
			<section class="register">
				<div id="ready_msg" style="display:none;font-size: 18px;line-height: 35px;margin-left: 10px;margin-top: 80px;">
					<b>Baobab</b> Class에 오신 걸 환영합니다. <br>
					현재 <b>Baobab</b> Class Beta에는 <br>
					초대 받으신 분들만 입장 가능합니다. <br><br>
					12월 중에 모두를 위한 <b>Baobab</b> Class가 정식<br> 런칭됩니다. 기대해주세요!
				</div>
				<h1>회원가입</h1>

				<fieldset class="signup-fieldset">
					<legend>
						회원가입 항목
					</legend>
					<a class="transition btn-fb" onclick="comingSoondMsg()">Facebook으로 로그인</a> 
					<span class="or" />or</span>
					<p>
						<%= f.text_field :fullname, :placeholder => "이름", :class => "name" %>
					</p>
					<p>
						<%= f.email_field :email, :placeholder => "email" ,:class =>"email" %>
					</p>
					<p>
						<%= f.password_field :password, :class =>"pwd" %>
					</p>
					<p>
						<%= f.password_field :password_confirmation, :class =>"pwd" %>
					</p>
					<p>
						<%= f.submit "가입하기", :class=>"transition btn-signup" %>
					</p>
					<!--  href="#" class="transition btn-signup">가입하기</a -->
				</fieldset>

				<section class="list-courses">
					<h1>강의 목록</h1>
					<ul>
						<li>
							<a href="#"><%= image_tag("@temp01.png") %></a>
						</li>
						<li>
							<a href="#"><%= image_tag("@temp01.png") %></a>
						</li>
					</ul>
					<a href="#" class="btn-prev">이전</a>
					<a href="#" class="btn-next">다음</a>
				</section>
			</section>
		</div>
		
		<% end %>

		<% end %>
		</div>
		<footer>
			<p>
				Baobab Class
			</p>
		</footer>
		<% if !user_signed_in? %>
		<script type="text/javascript">
			$(function() {
				$.support.placeholder = false;
				test = document.createElement('input');
				if('placeholder' in test)
					$.support.placeholder = true;

				if(!$.support.placeholder) {
					var active = document.activeElement;
					$('input').focus(function() {
						if($(this).attr('placeholder') != '' && $(this).val() == $(this).attr('placeholder')) {
							$(this).val('').removeClass('hasPlaceholder');
						}
					}).blur(function() {
						if($(this).attr('placeholder') != '' && ($(this).val() == '' || $(this).val() == $(this).attr('placeholder'))) {
							$(this).val($(this).attr('placeholder')).addClass('hasPlaceholder');
						}
					});
					$('input').blur();
					$(active).focus();
					$('form').submit(function() {
						$(this).find('.hasPlaceholder').each(function() {
							$(this).val('');
						});
					});
				}
			});

		</script>

		<% end %>
		<script type="text/javascript">
			var uvOptions = {};
			(function() {
				var uv = document.createElement('script');
				uv.type = 'text/javascript';
				uv.async = true;
				uv.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'widget.uservoice.com/vqfwqHIwtoq0j6sTGWvdeQ.js';
				var s = document.getElementsByTagName('script')[0];
				s.parentNode.insertBefore(uv, s);
			})();
		</script>
	</body>
</html>
